.nav {
  width: 100%;
  border: 2px solid #010101;
  min-height: 5rem;
  height: auto;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.nav-mid-buttons {
  display: flex;
  gap: 30px;
  justify-content: space-between;
  flex-wrap: wrap;
}
